


/* SECCIÓN AÑADIR PERSONAS*/

#comensal{
    width: 80%;
}

#total{
    visibility: hidden;
    text-align: right;
}

/* SECCIÓN AÑADE UN PRODUCTO */




.cantidad{
    display: flex;
}

#producto-cantidad{
    width: 15%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}




